/* Formatando Página */
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1678px;
    min-width: 768px;
    overflow: hidden;
}

/* Corrigindo a imagem de fundo */
#backg {
    width: 100%;
    height: 100%;
}

/* Formatando o Header */
#header {    
    position: absolute;
    width: 100%;
    height: 200px;
    top: -15px;
}

.logo-smash a{
    position: absolute;
    width: 169px;
    height: 66px;
    left: 0;
    margin-left: 30px;
    margin-top: 40px;
    background: url('../images/logo-smash.png') no-repeat;
    background-size: 162px;
}
    
.shape {
    position: absolute;
    right: 324px;
    z-index: 8;
    cursor: pointer;
}

.shape p {   
    opacity: 0.8;
    color: #fff;
    font-family: 'Manrope', sans-serif;  
    font-size: 14px;
    font-weight: 500;
    margin-top: 52px;
    float: left;
}

.button {
    position: absolute;
    background: transparent;
    padding: 10px 8px;
    border: none;
    opacity: 0.5;
    margin-top: 47px;
    margin-left: 20px;
    cursor: pointer;
    float: left;
}

.button > .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 1px;
}

.button > .bar:last-child {
    width: 18px;
    margin-bottom: 0;
}

.logo-switch a {
    position: absolute;
    right: 0;
    width: 63px;
    height: 68px;
    margin-right: 30px;
    margin-top: 40px;
    float: left;
    background: url('../images/logo-switch.png') no-repeat;
    background-size: 62px;
}

/* Formatação da Section Fighter */
.fighter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    max-height: 50vw;
    z-index: 4;
}


.fighter__stream {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
}

.fighter__item {
    position: absolute;
    width: 42%;
    height: 100%;
    transition: 1s all ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.fighter__item:nth-child(1) {
    left: 0;
    z-index: 1;
    transform: translateX(-100%)scale(.8);
    opacity: 0;
}

.fighter__item:nth-child(2) {
    left: 0;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
    opacity: 0;
}

.fighter__item:nth-child(3) {
    left: 51%;
    top: 2%;
    width: 54%;
    height: 143%;
    z-index: 4;
    transform: translateX(-50%) scale(1);
}

.fighter__item:nth-child(4) {
    left: 94%;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
    background-size: 60%;
}

.fighter__item:nth-child(n+5){
    left: 100%;
    z-index: 1;
    transform: scale(.8);
    background-size: 75%;
    opacity: 0;
}


.bg-1 {
    background-image: url('../images/fighter/ryu.png');
  }
  
  .bg-2 {
    background-image: url('../images/fighter/ken.png');
  }
  
  .bg-3 {
    background-image: url('../images/fighter/Bitmap.png');
  }
  
  .bg-4 {
    background-image: url('../images/fighter/corrin.png');
    background-size: 113% 100%
  }
  
  .bg-5 {
    background-image: url('../images/fighter/bayonetta.png');
    background-size: 102% 97%;
  }
  
  .bg-6 {
    background-image: url('../images/fighter/richter.png');
  }

  .name-fighter {
    position: absolute;
    z-index: 4;
    margin-left: 178px;
    top: 192px;
    left: 0;
}

.name-fighter p {
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    font-size: 50px;
    background-image: linear-gradient(53deg, #ada3c7 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.name-fighter img.name-strife {
    width: 468px;
}

.name-corrin,
.name-bayonetta,
.name-richter,
.name-ken,
.name-ryu {
    position: absolute;
    z-index: 4;
    margin-left: 178px;
    top: 184px;
    left: -1000px;
}

.name-corrin p,
.name-bayonetta p,
.name-richter p,
.name-ken p,
.name-ryu p {
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    background-image: linear-gradient(51deg, #e577e1 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.name-bayonetta p {
    background-image: linear-gradient(224.76deg, #FFFBFB -5.62%, #010125 105.1%);
}

.name-richter p {
    background-image: linear-gradient(224.76deg, rgb(255, 255, 255) -5.62%, #698d9a 105.1%);
}

.name-ken p {
    background-image: linear-gradient(225deg, #FFFBFB 0%, #FC8888 100%);
}

.name-ryu p {
    background-image: linear-gradient(225deg, #EDEBF4 -5.0%, #C6C6C6 100%);
}

.name-male {
    position: absolute;
    top: 343px;
    left: 772px;
    opacity: 0;
    z-index: 4;
}

.name-male img {
    width: 282px;
    width: 211px;
    height: auto;
}

.name-male p {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    color: #e69fe3;
    font-weight: 900;
    letter-spacing: 8.87px;
    text-transform: uppercase;
    margin-left: 115px;
}

.number-fighter {
    position: absolute;
    top: 109px;
    left: 715px;
    font-size: 92px;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    background-image: linear-gradient(93deg, #8d78c0 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 3;
}

.number-fighter span{
    font-family: 'Manrope', sans-serif;
}

.description1 {
    width: 158%;
}

.description1 p{
    position: absolute;
    color: #fff;
    right: 182px;
    font-weight: 100;
    font-size: 10.5px;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 4px;
    transform: rotate(90deg);
}

.smashBros {
    top: 218px;
}

.description2 hr {
    position: absolute;
    width: 223px;
    height: 1px;
    top: 399px;
    left: 0;
    opacity: 0.8;
}

.hr {
    border: 0.3px solid #dcd8e7;
}

.description2 p {
    position: absolute;
    width: 210px;
    height: 180px;
    left: 253px;
    top: 395px;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 12.5px;
    line-height: 19px;
    z-index: 4;
}

/* Formatando o footer*/
.footer-left {
    width: 460px;
    height: 60px;
    margin-top: 39px;
}

.plus a {
    position: absolute;
    bottom: 0;
    
    border: none;
    z-index: 11;
    transition: all .5s;
}

.pluss {
    background-image: linear-gradient(225deg, #8c7abd 0%, #6d5b9c 100%);
}

.plus i {
    color: rgba(255, 255, 255, 0.562);
    padding: 18px;
}

.plus a:hover {
    border-radius: 5px;
    box-shadow: 0 0 10px #ffffff98 inset;
}

.footer-right {
    position: absolute;
    width: 600px;
    height: 60px;
    right: 0;
    bottom: 0;
    background: #fff;
}

.details ul {
    position: absolute;
    bottom: 20px;
}

.details ul li{
    list-style: none;
    float: left;
    background: url('../images/Line_2.png') repeat-y;
}

.details ul li a {
    text-decoration: none;
}

.details ul li a.more {
    margin-left: 100px;
    color: #8c7abd;
    font-size: 11px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    letter-spacing: 4px;
    margin-right: 40px;
}

.details ul li a.buy {
    margin-left: 40px;
    color: #eeebf4;
    font-size: 11px;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
}

.control {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 133px;
    height: 73px;
    background: #fff;
    box-shadow: 0 12px 71px #745ea8;
    z-index: 9;
}

.control div {
    background: url('../images/Line.png')repeat-y;
}

.prev,
.next {
    float: left;
    padding: 29px;
    border: none;  
    transition: all .5s;
}

.control button:hover {
    box-shadow: 0 0 10px #141414bd inset;
}

.fa-chevron-left,
.fa-chevron-right {
    color: #745ea8;
}

.n-fight {
    margin-left: 70px;
    margin-top: 25px;
}

.n-fight p {
    font-size: 11px;
    font-family: 'Manrope', sans-serif;
    float: left;
}

.nfight {
    color: #745eaa;
}

.n-fight p span {
    font-weight: 800;
}

.n-fight img {
    width: 150px;
    height: 2px;
    margin-left: 16px;
    float: left;
    margin-top: 7px;
    background: url('../images/linha2.png') no-repeat;
}

.nfight-ryu {
    display: none;
}

.nfight-ken {
    display: none;
}

.nfight-cloud {
    display: none;
}

.nfight-bay {
    display: none;
}

.nfight-rich {
    display: none;
}

/* Formatação do menu-lateral*/
#menu-lateral {
    position: absolute;
    width: 350px;
    height: 100%;
    top: 0;
    right: -1350px;
    background-image: linear-gradient(53deg, #eee 0%, #fff 100%);
    z-index: 14;
    box-shadow: 0 2px 1em #000;
    transition: all .5s;
}

#menu-lateral h3 {
    text-align: center;
    margin-top: 30.5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    color: #000;
}

#menu-lateral span {
    width: 100px;
    height: 100px;
    padding: 2px 10px 2px 10px;
    background-color: #8d78c0;
    border-radius: 10px;
}

#menu-lateral.active {
    right: 0;
}

#menu-lateral ul {
    margin-top: 30.5px;
    list-style: none;
}

#menu-lateral li {
    border: 1px solid #000;
}

#menu-lateral a {
    width: 100%;
    height: 100px;
    text-decoration: none;
    color: #000;
    display: block;
    margin-bottom: -5px;
}

#menu-lateral a:hover {
    background-image: url('../images/menu-lateral/globalsidenav__item--movie_pc.png');
    color: #fff;
    transform: all .2;
}

#menu-lateral .ryu-name {
    position: absolute;
    width: 87px;
    height: 70px;
    background-image: url('../images/menu-lateral/Ryu/mark.svg');
    background-size: cover;
}

#menu-lateral .ryu-name h4 {
    margin-top: 30px;
    margin-left: 10px ;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

#menu-lateral .ken-name {
    position: absolute;
    width: 88px;
    height: 70px;
    background-image: url('../images/menu-lateral/Ken/mark.svg');
    background-size: cover;
}

#menu-lateral .ken-name h4 {
    margin-top: 30px;
    margin-left: 10px ;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

#menu-lateral .cloud-name {
    position: absolute;
    width: 90px;
    height: 73px;
    background-image: url('../images/menu-lateral/Cloud/mark.svg');
    background-size: cover;
}

#menu-lateral .cloud-name h4 {
    width: 95px;
    margin-top: 30px;
    margin-left: 10px ;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

#menu-lateral .corrin-name {
    position: absolute;
    width: 90px;
    height: 73px;
    background-image: url('../images/menu-lateral/Corrin/mark.svg');
    background-size: cover;
}

#menu-lateral .corrin-name h4 {
    width: 106px;
    margin-top: 30px;
    margin-left: 10px ;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

#menu-lateral .bayonetta-name {
    position: absolute;
    width: 90px;
    height: 76px;
    background-image: url('../images/menu-lateral/Bayonetta/mark.svg');
    background-size: cover;
}

#menu-lateral .bayonetta-name h4 {
    width: 146px;
    margin-top: 30px;
    margin-left: 10px ;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: #fff;
}

#menu-lateral .richter-name {
    position: absolute;
    width: 90px;
    height: 76px;
    background-image: url('../images/menu-lateral/Richter/mark.svg');
    background-size: cover;
}

#menu-lateral .richter-name h4 {
    width: 146px;
    margin-top: 30px;
    margin-left: 10px ;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

#menu-lateral #close-menu i{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    border: 1px solid#000;
    border-radius: 5px;
    transition: all .4s;
}

#close-menu i:hover {
    box-shadow: 0 0 10px #141414bd inset;
}

#overlay {
    position: none;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 0;
}

#overlay.active {
    position: absolute;
    z-index: 13;
    transform: all .5s;
}