/* Small devices (landscape phones) */
@media (max-width: 480px) {
    body {
        overflow: hidden;
    }

    /* Background da Página */
    #backg {
        display: none;
    }

    img#backg-responsive {
        display: block;
    }

    /* Formatando o menu-lateral */
    #menu-lateral {
        left: -350px;
    }

    #menu-lateral h3 {
        font-family: 'Red Hat Display', sans-serif;
        font-weight: inherit;
        font-size: 21px;
        line-height: 28px;
    }

    #menu-lateral span {
        background-color: inherit;
    }

    #menu-lateral.active {
        left: 0;
    }

    #menu-lateral ul {
        margin-top: 59.5px;
    }

    #mneu-lateral a,
    #menu-lateral a:hover,
    #menu-lateral li,
    #menu-lateral li img {
        width: 348px;
        height: 81px;
    }

    #close-menu img.icon-close {
        width: 39px;
        height: 39px;
        display: block;
        margin-top: 12px;
        margin-left: 8px;
        cursor: pointer;
    }

    #close-menu i {
        display: none;
    }

    /* Formatando o Header */
    .logo-smash a,
    .shape p {
        display: none;
    }

    .button {
        margin-left: -38px;
        margin-top: 34px;
    }

    .button > .bar {
        width: 28px;
        height: 3px;
    }

    .button > .bar:last-child {
        width: 22px;
    }

    .logo-switch a {
        margin-top: 34px;
        margin-right: 16px;
    }

    .logo-smash {
        position: absolute;
        width: 300px;
        height: 139px;
        background: #fff;
        bottom: -553px;
        left: -67px;
        transform: rotate(25deg);
        z-index: 5;
    }

    img#logo-smashPreta {
        display: block;
        position: absolute;
        width: 127px;
        height: 51px;
        bottom: 75px;
        left: 61px;
        transform: rotate(-24deg);
    }

    .name-strife,
    .name-corrin,
    .name-bayonetta,
    .name-richter,
    .name-ryu,
    .name-ken,
    .name-male,
    .description1,
    .description2 {
        display: none;
    }

    .fighter__item {
        width: 100%;
        height: 226%; 
    }

    .fighter__item:nth-child(3) {
        left: 61%;
        top: -76%;
        width: 125%;
        height: 313%;
    }

    .fighter__item:nth-child(4) {
        opacity: 0;
        left: 185%;
    }

    .bg-3 {
        background-image: url('../images/Mobile/fighter/cloud.webp');
    }
    
    .fighter__prev,
    .fighter__next {
        position: absolute;
        z-index: 4;
        top: 50%;
        width: 103%;
        height: 381%;
        transform: translateX(-50%) translateY(-50%) scale(.8);
        cursor: pointer;
    }

    .fighter__prev {
        left: 0;
    }
    
    .fighter__next {
        left: 100%;
    }

    .name-fighter {
        background-image: url('../images/Mobile/Cloud/fightername.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        margin-left: 0;
        top: 364px;
        left: 0;
    }

    .name-corrin {
        background-image: url('../images/Mobile/Corrin/name_corrin.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        margin-left: 0;
        top: 364px;
        left: -1000px;
        display: block;
    }

    .name-fighter p,
    .name-corrin p {
        display: none;
    }

    footer,
    #options {
        display: none;
    }
}

#backg-responsive {
   display: none;
}

#logo-smashPreta { 
    display: none;
}

#close-menu img {
    display: none;
}