* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#backg {
    width: 100%;
    height: 100%;
}

.fighter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    max-height: 50vw;
    border: 1px solid #000;
}


.fighter__stream {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

.fighter__item {
    position: absolute;
    width: 42%;
    height: 100%;
    transition: 1s all ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.fighter__item:nth-child(1) {
    left: 0;
    z-index: 1;
    transform: translateX(-100%)scale(.8);
    opacity: 0;
}

.fighter__item:nth-child(2) {
    left: 0;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
    opacity: 0;
}

.fighter__item:nth-child(3) {
    left: 50%;
    z-index: 4;
    transform: translateX(-50%) scale(1);
}

.fighter__item:nth-child(4) {
    left: 88%;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
    background-size: 75%;
}

.fighter__item:nth-child(n+5){
    left: 100%;
    z-index: 1;
    transform: scale(.8);
    background-size: 75%;
}

.fighter__prev,
.fighter__next {
    position: absolute;
    top: 50%;
    z-index: 4;
    width: 50%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%) scale(.8);
    cursor: pointer;
}

.fighter__prev {
    left: 0;
}

.fighter__next {
    left: 100%;
}

.bg-1 {
    background-image: url('../images/fighter/ryu.png');
  }
  
  .bg-2 {
    background-image: url('../images/fighter/ken.png');
  }
  
  .bg-3 {
    background-image: url('../images/fighter/Bitmap.png');
  }
  
  .bg-4 {
    background-image: url('../images/fighter/corrin.png');
  }
  
  .bg-5 {
    background-image: url('../images/fighter/bayonetta.png');
  }
  
  .bg-6 {
    background-image: url('../images/fighter/richter.png');
  }

  .control {
      position: absolute;
      bottom: 0;
      right: 0;
  }

.name-fighter {
    position: absolute;
    z-index: 2;
    margin-left: 178px;
    top: 109px;
    left: 0;
}

.name-fighter p {
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    font-size: 66px;
    background-image: linear-gradient(53deg, #ada3c7 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.name-fighter img.strife {
    width: 482px;
}

.name-corrin {
    position: absolute;
    z-index: 2;
    margin-left: 178px;
    top: 187px;
    left: -1000px;
}

.name-corrin p {
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    font-size: 100px;
    background-image: linear-gradient(51deg, #e577e1 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.name-male {
    position: absolute;
    top: 343px;
    left: 772px;
    opacity: 0;
}

.name-male img {
    width: 282px;
    width: 211px;
    height: auto;
}

.name-male p {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    color: #e69fe3;
    font-weight: 900;
    letter-spacing: 8.87px;
    text-transform: uppercase;
    margin-left: 115px;
}

.number-fighter {
    position: absolute;
    top: 33px;
    left: 691px;
    font-size: 92px;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    background-image: linear-gradient(93deg, #8d78c0 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 0;
}

.number-fighter span{
    font-family: Arial, Helvetica, sans-serif;
}